
body{
    /*position:relative;min-width:950px;padding-top:15px;*/
    background:#7F7F7F url("../img/bckgrnd_02.jpg")repeat center top scroll;
}



nav ul li a{
    margin: 0px 5px 0px 5px;
    color: white;
    /*font-size: 0.8rem*/
}

.titulos{
    color: whitesmoke;
    font-family: 'Cinzel', serif;
}

.preguntasPagina{
    color: snow;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}